USE [master]
GO
/****** Object:  Database [Fruits and vegetables]    Script Date: 05.02.2024 15:36:09 ******/
CREATE DATABASE [Fruits and vegetables]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fruits and vegetables', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Fruits and vegetables.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fruits and vegetables_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Fruits and vegetables_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fruits and vegetables].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fruits and vegetables]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05.02.2024 15:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[cal] [float] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [type], [color], [cal]) VALUES (1, N'apple', N'fruit', N'red', 20)
INSERT [dbo].[Product] ([id], [name], [type], [color], [cal]) VALUES (2, N'cucumber', N'vegetable', N'green', 15)
INSERT [dbo].[Product] ([id], [name], [type], [color], [cal]) VALUES (3, N'pine', N'fruit', N'green', 30)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
USE [master]
GO
